<h1>Notre sélection de voitures</h1>
<% @cars.each do |car| %>
<%= image_tag car.photo_url, width: 400 %>
<h2><%= car.brand %></h2>
<h3><%= car.model %></h3>
<p><%= link_to 'Détails', car_path(car), class: "btn btn-primary" %></p>
<% end %>
